@import url("./fonts.css");

:root {
    /* Colors */
    --color-background: #0c0d10;
    --color-text-primary: #fafafa;
    --color-primary: #cdaaff;
    --color-dark-heading: #0c0d10;
    --color-border: #ffffff99;
    --color-dots: #ffffff;
    --color-error: #ef4444;

    /* Spacing */
    --spacing-xs: 0.4167rem;
    --spacing-sm: 0.8333rem;
    --spacing-md: 1.66666667rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 3.3333rem;
    --spacing-2xl: 5rem;

    /* Typography */
    --font-family-primary:
        Sohne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    --font-family-heading:
        Bagoss, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.3580246914rem;
    --font-size-2xl: 1.5833333333rem;
    --font-size-3xl: 1.8333333333rem;
    --font-size-4xl: 2.3333333333rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --line-height-tight: 1.25;
    --line-height-normal: 1.35;

    /* Border Radius */
    --border-radius-md: 1.5833333333rem;
    --border-radius-lg: 1.25rem;
    --border-radius-full: 9999px;

    /* Transitions */
    --transition-normal: 250ms ease-in-out;

    /* Z-index */
    --z-index-fixed: 1030;
}
